body {
    touch-action: manipulation;
}

canvas {
    display: block;
}

#canvas {
    margin: auto;
}

/* Resize Mandelbrot canvas */
@media only screen and (max-width: 1400px) {
    #canvas {
        width: 320px;
        height: 320px;
    }
}
@media only screen and (max-width: 425px) {
    #canvas {
        width: 275px;
        height: 275px;
    }
}
@media only screen and (max-width: 350px) {
    #canvas {
        width: 225px;
        height: 225px;
    }
    #colorPalette {
        width: 204px;
        height: 16px;
    }
}

#colorPalette {
    border: 1px solid black;
}

.button-group-input {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

/* Disables arrows for number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}
